.item {
  width: 95%;
  position: relative;
  padding: 50px;
  background-color: var(--primaryDarkGrey);
}
.active {
  background-image: linear-gradient(
    210deg,
    rgba(241, 58, 0, 0.8) 0%,
    rgba(241, 188, 0, 0.8) 20.5%,
    rgba(0, 133, 255, 0.8) 43%,
    rgba(0, 190, 232, 0.8) 59.5%,
    rgba(36, 255, 0, 0.8) 75%,
    rgba(255, 92, 0, 0.8) 94%
  );
}
.title {
  font-family: Arial;
}
.text {
  margin: 15px 0 0 0;
  font-family: Arial;
  line-height: 35px;
}
.step {
  position: absolute;
  left: -80px;
  top: 50%;
  translate: 0 -50%;
  font-family: Arial;
  font-style: italic;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  scale: -1 -1;
  text-wrap: nowrap;
}
