.comp-title-1 {
  font-size: 40px;
  font-family: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  color: inherit;
  text-shadow: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  font-style: inherit;
}

.comp-title-NFS-r-1 {
  font-size: 128px;
  font-family: NFSCarbonR;
  letter-spacing: inherit;
  line-height: inherit;
  color: inherit;
  text-shadow: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}
.comp-title-NFS-r-2 {
  font-size: 105px;
  font-family: NFSCarbonR;
  letter-spacing: inherit;
  line-height: inherit;
  color: inherit;
  text-shadow: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}
