:root {
  --var: red;
  --primaryLightGreen: #00ff29;
  --primaryHoverGreen: #03a51d;
  --primaryDarkGrey: #202020;
  --primaryLightGrey: #5c5c5c;
  --textWhite: rgb(255, 255, 255);
  --textOpacityWhite: rgba(255, 255, 255, 0.3);
}
body {
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  width: 100%;
  position: relative;
}
.inner {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.--dev {
  background-color: pink;
}
.--parentBlock {
  margin: 0 0 100px 0;
}
