.info {
  display: flex;
  flex-flow: wrap column;
  row-gap: 60px;
  max-width: calc(50% - 25px);
}
.title {
  font-size: 50px;
  font-family: HelvetivaNeueB;
  letter-spacing: 5px;
  display: flex;
  flex-flow: wrap column;
  row-gap: 10px;
  &::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: white;
  }
}

.button {
  width: 100%;
  padding: 10px 30px;
  h2 {
    font-size: 35px;
    letter-spacing: 3px;
  }
}
